@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/**
    Reset
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
    Variables
 */
:root {
    --mobile-padding: 15px;
    --desktop-padding: 30px;
    --gray: #5D4954;
    --dark-gray: rgb(78, 61, 71);
}

/**
    General
 */
html, body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    height: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: #000;
}

/**
    Mobile first
 */
div#container,
main {
    min-height: 100%;
}

div#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div#header-content, main, h2, footer {
    max-width: 1450px;
    margin: 0 auto;
}

main,
h1,
h2 {
    padding: var(--mobile-padding);
}
h2 {
    padding-bottom: 0 !important;
}

header {
    background-color: var(--gray);
}

div#header-content, nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #FFF;
}

nav {
    width: 100%;
}
nav ul {
    flex-direction: column;
}
nav ul li {
    width: 100%;
}
nav ul li#actual {
    text-decoration: underline;
    background-color: var(--dark-gray);
}
nav ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    padding: 25px 30px;
    transition: background-color .2s;
}
nav ul li a:hover {
    background-color: var(--dark-gray);
}

#filterForm {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--mobile-padding);
    margin-bottom: var(--mobile-padding);
}
#filterForm p,
#filterForm label,
#filterForm input {
    display: inline;
    margin: 0 !important;
}

footer {
    flex-shrink: 0;
    width: 100%;
    padding: var(--mobile-padding);
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.5);
    text-align: right;
}

/**
    Desktop
 */
@media only screen and (min-width: 600px) {

    body {
        font-size: 1.2em;
    }

    h1 {
        font-size: 1.6em;
    }

    main,
    h1,
    h2 {
        padding: var(--desktop-padding);
    }

    nav {
        width: auto;
    }
    nav ul {
        height: 100%;
        flex-direction: row;
        align-items: center;
    }
    nav ul li {
        width: auto;
    }

    input:not(input[type="submit"]) {
        width: 100%;
        max-width: 300px;
    }
}

/**
    Form
 */
th, td {
    padding: 0.6em 3.6em 0 0;
    text-align: left;
    vertical-align: top;
}

table {
    margin-bottom: 40px;
}

table caption {
    display: none;
}

#alert-danger {
    padding: 0.5em;
    background-color: #f2dede;
    border: 1px solid #000;
    color: #b94a48;
    border-radius: 3px;
    margin-bottom: 1em;
    box-sizing: border-box;
}

#alert-success {
    padding: 0.5em;
    background-color: #4BB543;
    border: 1px solid #000;
    color: #FFF;
    border-radius: 3px;
    margin-bottom: 1em;
    box-sizing: border-box;
}

label, input, textarea {
    margin-bottom: 8px;
}

label, input, textarea {
    display: block;
}

input:not(#removeButton), textarea {
    border: 1px solid #888;
    margin: 2px 0 16px 0;
    outline: 0 none;
    padding: 0.5em;
    line-height: 15px;
    border-radius: 3px;
    box-shadow: inset 0 1px 4px #ECECEC;
}

input[type="submit"] {
    cursor: pointer;
}

#removeButton {
    height: 28px;
    margin-bottom: 6px;
}

input {
    height: 35px;
}

/**
    Password strengh meter
 */
meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0 auto 16px;
    width: 100%;
    max-width: 300px;
    height: 15px;;

    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }